<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagrem</title>
    <link rel="stylesheet" href="/css/dist/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js"></script>

</head>

<body>
    <div class="createpostModal"></div>
    {{> header}}
    <main>
        {{{body}}}
    </main>
    <script>
        if (location.pathname == '/') { document.querySelector("main").classList.add("home"); }
    </script>
</body>

</html>