{{> home/stories}}
<div class="posts">
    <div class="post"> 
        <div class="head">
               <a href="/{{user.username}}" class="user">
                <img src="/images/user.svg" alt="">
                <span>yasincoding</span>
            </a>
            <div class="action"><img src="/images/postAction.svg" alt=""></div>
        </div>
        <div class="post-content">
            <img src="/images/example-post.jpg" alt="">
        </div>
        <div class="postFooter">
            <div class="post-quick-actions">
                <div class="left">
                    <button class="like"><img src="/images/activity.svg" alt=""></button>
                    <button class="comment"><img src="/images/comment.svg" alt=""></button>
                    <button class="send"><img src="/images/inbox.svg" alt=""></button>
                </div>
                <div class="right">
                    <button class="save"><img src="/images/savePost.svg" alt=""></button>
                </div>
            </div>
            <p class="likeCounter">186 beğenme</p>
            <div class="post-description">
                <a href="">yasincoding</a><span>Hello 🤙 Dashboard UI design<br><br>
                Keep grow <br><br>
                Keep coding..
                </span>
            </div>
            <div class="postComments">
                <div class="comment">
                <b class="username"></b> <span class="message"></span>
                </div>
            </div>
            <p class="postDate">12 dakika önce</p>
            <div class="addComment">
                <div class="icons"><img src="/images/icons.svg" alt=""></div>
                <div class="enter-comment">
                    <input type="text" placeholder="Yorum ekle...">
                </div>
                <button class="shareComment">Paylaş</button>
            </div>
        </div>
    </div>
    <div class="post"> 
        <div class="head">
            <a href="/{{user.username}}" class="user">
                <img src="/images/user.svg" alt="">
                <span>yasincoding</span>
            </a>
            <div class="action"><img src="/images/postAction.svg" alt=""></div>
        </div>
        <div class="post-content">
            <img src="/images/example-post.jpg" alt="">
        </div>
        <div class="postFooter">
            <div class="post-quick-actions">
                <div class="left">
                    <button class="like"><img src="/images/activity.svg" alt=""></button>
                    <button class="comment"><img src="/images/comment.svg" alt=""></button>
                    <button class="send"><img src="/images/inbox.svg" alt=""></button>
                </div>
                <div class="right">
                    <button class="save"><img src="/images/savePost.svg" alt=""></button>
                </div>
            </div>
            <p class="likeCounter">186 beğenme</p>
            <div class="post-description">
                <a href="">yasincoding</a><span>Hello 🤙 Dashboard UI design<br><br>
                Keep grow <br><br>
                Keep coding..
                </span>
            </div>
            <div class="postComments">
                <div class="comment">
                <b class="username"></b> <span class="message"></span>
                </div>
            </div>
            <p class="postDate">12 dakika önce</p>
            <div class="addComment">
                <div class="icons"><img src="/images/icons.svg" alt=""></div>
                <div class="enter-comment">
                    <input type="text" placeholder="Yorum ekle...">
                </div>
                <button class="shareComment">Paylaş</button>
            </div>
        </div>
    </div>
    <div class="post"> 
        <div class="head">
               <a href="/{{user.username}}" class="user">
                <img src="/images/user.svg" alt="">
                <span>yasincoding</span>
            </a>
            <div class="action"><img src="/images/postAction.svg" alt=""></div>
        </div>
        <div class="post-content">
            <img src="/images/example-post.jpg" alt="">
        </div>
        <div class="postFooter">
            <div class="post-quick-actions">
                <div class="left">
                    <button class="like"><img src="/images/activity.svg" alt=""></button>
                    <button class="comment"><img src="/images/comment.svg" alt=""></button>
                    <button class="send"><img src="/images/inbox.svg" alt=""></button>
                </div>
                <div class="right">
                    <button class="save"><img src="/images/savePost.svg" alt=""></button>
                </div>
            </div>
            <p class="likeCounter">186 beğenme</p>
            <div class="post-description">
                <a href="">yasincoding</a><span>Hello 🤙 Dashboard UI design<br><br>
                Keep grow <br><br>
                Keep coding..
                </span>
            </div>
            <div class="postComments">
                <div class="comment">
                <b class="username"></b> <span class="message"></span>
                </div>
            </div>
            <p class="postDate">12 dakika önce</p>
            <div class="addComment">
                <div class="icons"><img src="/images/icons.svg" alt=""></div>
                <div class="enter-comment">
                    <input type="text" placeholder="Yorum ekle...">
                </div>
                <button class="shareComment">Paylaş</button>
            </div>
        </div>
    </div>
</div>