<div class="stories">
        <div class="user ">
                 <img src="/images/user.svg" alt="">
                 <p>yasincoding</p>
          </div>
           <div class="user ">
                 <img src="/images/user.svg" alt="">
                 <p>yasincoding</p>
          </div>
           <div class="user ">
                 <img src="/images/user.svg" alt="">
                 <p>yasincoding</p>
          </div>
           <div class="user ">
                 <img src="/images/user.svg" alt="">
                 <p>yasincoding</p>
          </div>
           <div class="user ">
                 <img src="/images/user.svg" alt="">
                 <p>yasincoding</p>
          </div>
          
          
    </div>


<script>
   
</script>